{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <!-- ... -->
    <link rel="stylesheet" href="{% static 'css/carros_details.css' %}">
    <style>
      /* Outras regras de estilo específicas para este arquivo HTML */
      h1 {
          text-align: center;
        }
    </style>

  </head>
  <h1>Detalhes do Carro</h1>
  <div class="carro-details">
    <div class="carro-photo">
      <!-- Aqui você pode adicionar a tag <img> para exibir a foto do carro -->
    </div>
    <div class="carro-info">
      <h1> {{ carro.marca }} - {{ carro.modelo }} </h1>

      <p>Ano: {{ carro.ano }}</p>
      <p>Preço: {{ carro.preco }}</p>
      <p>Cor: {{ carro.cor }}</p>
      {% if carro.locacao %}
      <a href="{% url 'locadora:aluguel_criar' %}" class="btn btn-primary">Alugue aqui</a>
      {% endif %}
      {% if carro.venda %}
      <a href="#" class="btn btn-primary">Compre aqui</a>
      {% endif %}
    
      <!-- Adicione mais detalhes do carro aqui, se necessário -->
      <a href="{% url 'locadora:compra_lista' %}" class="btn btn-primary">Voltar</a>
    </div>
  </div>
{% endblock %}