{% extends 'base.html' %}
{% load static %}


{% block content %}

    <main role="main" class="container">
      <div class="jumbotron">
        <h1>Bem-vindo à Loja e Locadora de Carros</h1>
        <p class="lead">Aqui você encontra os melhores carros para venda e locação.</p>
        <a class="btn btn-lg btn-primary" href="#" role="button">Saiba mais</a>
      </div>
      
      <div class="row">
        <div class="col-md-4">
          <h2>Carros para Venda</h2>
          <p>Veja nossa seleção de carros usados para venda. Temos modelos das melhores marcas do mercado.</p>
          <a class="btn btn-primary btn-md" href="{% url 'locadora:compra_lista' %}" role="button">Ver Carros para Venda</a>
        </div>
        <div class="col-md-4">
          <h2>Carros para Locação</h2>
          <p>Alugue um carro conosco e aproveite sua viagem com conforto e segurança. Temos uma ampla seleção de modelos.</p>
          <a class="btn btn-primary btn-md" href="#" role="button">Ver Carros para Locação</a>
        </div>
        <div class="col-md-4">
          <h2>Contato</h2>
          <p>Entre em contato conosco para tirar suas dúvidas ou fazer uma reserva. Estamos prontos para atendê-lo.</p>
          <a class="btn btn-primary btn-md" href="#" role="button">Fale Conosco</a>
        </div>
        
        
            {% endblock %}