{% extends 'base.html' %}


{% block content %}
{% if qs %}
<ul class="list-unstyled mx-auto d-flex flex-wrap">
  {% for loja in qs %}
  <li class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
    <a class="text-decoration-none" href="{{ loja.get_absolute_url }}">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <h3 class="card-header text-center">{{ loja.slug }}</h3>
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>

{% endif %}
{% endblock %}